:root { 
--black_900_7f:#0000007f; 
--purple_100:#edbaff; 
--light_blue_A100:#93dfff; 
--blue_A100_68:#7caaf068; 
--light_blue_700:#0a8ada; 
--indigo_A100:#9ba6fa; 
--red_401:#e95c5c; 
--red_400:#e85c5c; 
--yellow_800:#f18e33; 
--red_A700:#ff0000; 
--gray_600:#7a7a7a; 
--gray_800:#393939; 
--gray_900_67:#1c003f67; 
--gray_801:#3e3e3e; 
--teal_A100:#a0ffff; 
--indigo_A700:#4044ed; 
--bluegray_401:#768b9e; 
--bluegray_400:#888888; 
--white_A700:#ffffff; 
--indigo_A201:#6979f8; 
--indigo_A200:#5b61ff; 
--lime_A100:#f5ff87; 
--blue_A100:#7caaf0; 
--red_500:#ff3737; 
--black_900_70:#00000070; 
--yellow_300:#f2f574; 
--yellow_301:#f3f575; 
--black_900:#000000; 
--gray_905:#121212; 
--gray_903:#252525; 
--deep_purple_A100:#a9a2ff; 
--gray_904:#1a1a1a; 
--gray_700:#666666; 
--indigo_A700_d3:#3b37f5d3; 
--gray_500:#acacac; 
--gray_901:#222222; 
--gray_902:#121112; 
--gray_900:#111111; 
--bluegray_900_14:#32324714; 
--bluegray_100:#d9d9d9; 
--teal_50:#d4ffef; 
--gray_300:#e4e4e4; 
--gray_100:#f1f7f7; 
--bluegray_900:#33363f; 
--black_900_cc:#000000cc; 
--gray_900_b2:#121212b2; 
--cyan_900:#0f6274; 
--bluegray_902:#333333; 
--bluegray_901:#32363e; 
}